@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&family=Wix+Madefor+Display:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(190, 184, 205);
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    justify-content: center;
    position: absolute;
    gap: 1rem;
    width: 100vw;
}

.container {
    width: 70vw;
    margin: 1rem 0;
    position: relative;
}

.container-nav {
    position: relative;
}

.sticky-nav {
    height: 200px;
    width: 50px;
    background-color: black;
    position: sticky;
    border-radius: 30px;
    top: 7%;
    left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    background-color: rgb(255, 255, 255);
    padding: 50px 50px 70px;
    border-radius: 10px;
    margin-bottom: 1px;
    display: flex;
}

.section-formulario {
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 1px;
    display: flex;
    flex-direction: column;
}

.section-titulo {
    background-color: rgb(255, 255, 255);
    padding: 1rem 2rem;
    border-radius: 10px;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
}

.icono-contacto {
    display: flex;
    align-items: center;
}

.section-aparte {
    margin-top: 3rem;
}

h1 {
    font-size: 29px;
    margin: 0px 0px 10px;
}

a {
    color: black;
    font-weight: bold;
}

.a-btn {
    text-decoration: none;
}

.subsection {
    width: 50%;
}

.subsection-chica {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.subsection-grande {
    width: 100%;
    display: flex;
    position: relative;
}

textarea {
    resize: none;
}

.curso {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box {
    padding: .6rem 1rem;
    height: 50%;
    width: 50%;
}

.box>img{
    height: 100%;
    width: 100%; 
}

.job {
    text-decoration: underline;
    margin: 0;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: rgb(1, 153, 120);
    border-radius: 50%;
    margin-top: 5px;
}

.status {
    display: flex;
    border: 1px solid rgb(204, 207, 211);
    border-radius: 20px;
    padding: 6px;
    margin: 30px 0px 10px;
    width: 90%;
}

.p-status {
    margin: 0 12px;
}

.profile {
    padding-left: 20px;
    height: 200px;
}

.p-descr {
    font-size: 28px;
    border-bottom: 1px solid rgb(211, 211, 211);
    padding-bottom: 20px;
    margin: 0px 0px 20px;
}

.btn-black {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 30px;
}

.btn-black:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.btn-light {
    background-color: white;
    padding: 20px;
    text-decoration: underline;
    border-radius: 30px;
}

.btn-light:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.nav-item {
    width: 3rem;
    height: 3rem;
    display: flex;
    margin-top: 1rem;
    justify-content: center;
}

li {
    color: rgb(146, 145, 145);
}

li:hover {
    color: white;
}

ul {
    text-decoration: none;
    list-style: none;
}

.input-contacto {
    width: 100%;
    height: 40px;
    border-color: rgb(183, 185, 187);
    border-style: double;
    border-width: 1px;
    border-radius: 6px;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 2px 1px;
}

.mensaje {
    width: 100%;
    border-color: rgb(183, 185, 187);
    border-style: double;
    border-radius: 6px;
    border-width: 1px;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

textarea:focus {
    border-color: rgb(0, 123, 255);
    box-shadow: 20px rgb(0, 123, 255);
    outline: 0 none;

}

input:focus {
    border-color: rgb(0, 123, 255);
    box-shadow: 10px rgb(0, 123, 255);
    outline: 0 none;
}

#button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.proyectos {
    padding: 0%;
}

.accordion-item {
    border-radius: 10px;
}

.accordion-button {
    background-color: rgb(255, 255, 255);
    height: 6rem;
    width: 70vw;
    text-align: left;
    padding: 2rem;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 10px;
    outline: none;
    font-size: large;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    transition: 0.2s;
}

.top {
    border-top: 0;
}

.accordion-button:hover {
    cursor: pointer;
}

.accordion-body {
    padding: 0 2rem 2rem 2rem;
    display: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.1s ease-in-out;
}

.accordion-button:after {
    content: '\22C1';
    font-size: 20px;
    font-weight: bold;
    color: black;
    float: right;
    margin-right: 15px;
}

.links-accordion {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    text-align: center;
}

.links-accordion a {
    padding: .4rem;
}

.active:after {
    content: '\22C0';
}


@media screen and (max-width:1200px) {
    .container {
        width: 80vw;
    }

    .accordion-button {
        width: 80vw;
    }

    .section-aparte {
        margin-top: 2.4rem;
    }
    .subsection{
        padding: .6rem;
    }
    .profile{
        padding-left: 0;
        height: 190px;
    }
}

@media screen and (max-width:800px) {
    body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-nav {
        width: 100%;
        height: 3rem;
    }

    .sticky-nav {
        width: 200px;
        height: 50px;
        position: fixed;
        z-index: 1;
        top: 1rem;
        left: 37.2%;
    }
    .status {
        margin-left: 10rem;
        width: 50%;
    }
    ul {
        display: flex;
        align-items: center;
    }

    .container {
        width: 90vw;
    }

    .home {
        text-align: center;
    }
    .section {
        flex-direction: column;
        padding: 1rem;
    }

    .subsection {
        width: 100%;
        padding: .4rem;
    }

    .accordion-button {
        width: 90vw;
    }

    .proyectos {
        padding: 0;
    }

    .curso {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .box {
        padding: .6rem 0;
        height: 80%;
        width: 80%;
    }
    
}

@media screen and (max-width:500px) {

    .sticky-nav {
        left: 25vw;
    }

    .status{
        width: 90%;
        margin-left: 1rem;
    }
    .section {
        flex-direction: column;
    }

    .intro {
        gap: 2rem;
    }


    .section-titulo {
        justify-content: space-between;
    }

    .icono-contacto {
        margin: 0;
    }

    .section-aparte {
        margin-top: 1.4rem;
    }

    .proyectos {
        padding: 0;
    }
    
    .box {
        height: 100%;
        width: 100%;
    }

}